################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/ConsoleApp1/bin/
/ConsoleApp1/obj/
/packages/
WindowsFormsApp1/bin/
WindowsFormsApp1/obj/
